[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*" # 3.7.4
loguru = "*" # 0.5.3
punq = "*" # 0.5
marshmallow = "*"
psycopg2-binary = "2.9.1"
aiopg = "*"

[dev-packages]

[requires]
python_version = "3.8"
